In [75]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.preprocessing import PolynomialFeatures

In [76]:
def col_place(row):
    return 1 if row['ordreArrivee'] in range(1,3) else 0

In [77]:
def predict(model,x):
#     print(x)
    l=len(x)
    x = np.asarray(x)
    x=x.reshape(1,l)
    return int(x[0,0]),model.predict(x)[0]==1,model.predict(x)[0]

In [78]:
df=pd.read_csv('participants_trot_attele.csv',sep=";")
df['ordreArrivee'] = df['ordreArrivee'].fillna(0)
df=df[['numPmu','rapport','age','nombreCourses','nombreVictoires','nombrePlaces','nombrePlacesSecond','nombrePlacesTroisieme','ordreArrivee','distance','handicapDistance','gain_carriere','gain_victoires','gain_places','gain_annee_en_cours','gain_annee_precedente']]
df['place']=df.apply (lambda row: col_place(row), axis=1)
df=df.drop('ordreArrivee', axis=1)
df.head()

,numPmu,rapport,age,nombreCourses,nombreVictoires,nombrePlaces,nombrePlacesSecond,nombrePlacesTroisieme,distance,handicapDistance,gain_carriere,gain_victoires,gain_places,gain_annee_en_cours,gain_annee_precedente,place
0,1,47.0,5,14,3,7,2,0,2700,2700,3828000,2025000,1803000,2703000,1125000,1
1,2,68.0,5,24,2,8,3,0,2700,2700,4107000,2250000,1857000,2534000,891000,0
2,3,153.0,5,24,1,15,3,2,2700,2700,4183000,900000,3283000,1734000,2449000,0
3,4,62.0,5,27,1,13,4,4,2700,2700,4235000,990000,3245000,2813000,1422000,0
4,5,8.1,5,9,4,3,1,0,2700,2700,4632000,4230000,402000,4632000,0,0

In [79]:
y=df['place']
X=df.drop('place', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0,shuffle=False)

print('Train set:', X_train.shape)
print('Test set:', X_test.shape)

Train set: (40692, 15)
Test set: (10173, 15)

In [82]:
model = make_pipeline( PolynomialFeatures(),
                      StandardScaler(),
                      SGDClassifier(random_state=0))

model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8557947508109702

In [81]:
df_p=pd.read_csv('validation_participants_trot_attele.csv',sep=";")


df_p=df_p[(df_p['reunion']==1) & (df_p['course']==2)]

df_p=df_p[['numPmu','rapport','age','nombreCourses','nombreVictoires','nombrePlaces','nombrePlacesSecond','nombrePlacesTroisieme','distance','handicapDistance','gain_carriere','gain_victoires','gain_places','gain_annee_en_cours','gain_annee_precedente']]
print(df_p.shape)
for row in df_p.iterrows():
    numPmu,result,value=predict(model,row[1])
    if result:
        print(f"{numPmu} placé - {value}" )
#     else:
#         print(f"{numPmu} Non placé - {value}" )

(12, 15)