In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler,PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.cluster import KMeans

In [3]:
df=pd.read_csv('history/participants_trot_attele.csv',sep=";")

In [4]:
def col_place(row):
    return 1 if row['ordreArrivee'] in range(1,3) else 0

In [5]:
df['ordreArrivee'] = df['ordreArrivee'].fillna(0)
df=df[['numPmu','rapport','age','nombreCourses','nombreVictoires','nombrePlaces','nombrePlacesSecond','nombrePlacesTroisieme','ordreArrivee','distance','handicapDistance','gain_carriere','gain_victoires','gain_places','gain_annee_en_cours','gain_annee_precedente']]
df['place']=df.apply (lambda row: col_place(row), axis=1)
df=df.drop('ordreArrivee', axis=1)
df.head()

,numPmu,rapport,age,nombreCourses,nombreVictoires,nombrePlaces,nombrePlacesSecond,nombrePlacesTroisieme,distance,handicapDistance,gain_carriere,gain_victoires,gain_places,gain_annee_en_cours,gain_annee_precedente,place
0,1,243.0,4,18,2,9,1,1,2700,2700,3903000,2070000,1833000,3418000,485000,0
1,2,7.5,4,7,3,3,2,0,2700,2700,4000000,2655000,1345000,4000000,0,0
2,3,30.0,4,13,1,12,2,1,2700,2700,4342000,1620000,2722000,4092000,250000,0
3,4,14.0,4,15,2,7,3,2,2700,2700,4377000,1440000,2937000,4377000,0,0
4,5,7.2,4,11,1,8,1,3,2700,2700,4404000,1485000,2919000,3857000,547000,0

In [9]:
y=df['place']
X=df.drop('place', axis=1)
X.describe()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0,shuffle=False)

In [7]:
model = make_pipeline( PolynomialFeatures(),
                      StandardScaler(),
                      KMeans(n_clusters=3))

model.fit(X_train, y_train)
model.score(X_test, y_test)

-9633201.504839748